@charset "UTF-8";
/* STYLES GO HERE */
/* STYLES GO HERE */
/* STYLES GO HERE */
:root {
  --vp-c-bg: #1e1e20;
  --vp-c-text-1: rgba(255, 255, 245, .86);
}

html[data-theme=dark] nav.dialog > div {
  background-color: #1e1e20 !important;
}
html[data-theme=dark] #__nuxt {
  background: var(--vp-c-bg);
}
html[data-theme=dark] #__nuxt header.has-dialog {
  border-bottom-color: #000000;
  background-color: #1e1e20;
}
html[data-theme=dark] #__nuxt .aside-nav {
  margin-left: 25px;
}
html[data-theme=dark] #__nuxt .aside-nav .docs-aside-tree li.active .title-collapsible-button {
  color: #1AD6FF;
}
html[data-theme=dark] #__nuxt .aside-nav .docs-aside-tree li .link:hover {
  color: #1AD6FF;
}
html[data-theme=dark] #__nuxt .aside-nav .docs-aside-tree li .title-collapsible-button {
  color: #ADA9A4;
}
html[data-theme=dark] #__nuxt .aside-nav .docs-aside-tree li .title-collapsible-button:hover {
  color: #1AD6FF;
}
html[data-theme=dark] #__nuxt .aside-nav .docs-aside-tree li .title-collapsible-button:has(+ .docs-aside-tree .bordered.active) svg {
  color: #1AD6FF;
}
html[data-theme=dark] #__nuxt .aside-nav .docs-aside-tree li:has(> .title-collapsible-button + .docs-aside-tree .bordered.active) .title-collapsible-button {
  color: #1AD6FF;
}
html[data-theme=dark] #__nuxt .aside-nav .docs-aside-tree .bordered {
  border-left-color: #1AD6FF;
}
html[data-theme=dark] #__nuxt .card-grid .card {
  color: var(--vp-c-text-1);
  background-color: #252529;
  border: 1px solid #252529;
}
html[data-theme=dark] #__nuxt .announcements-details {
  border-radius: 10px;
  background: #ECEBE8;
  margin-bottom: 15px;
}
html[data-theme=dark] #__nuxt .announcements-details:hover {
  cursor: pointer;
}
html[data-theme=dark] #__nuxt .announcements-details summary {
  font-size: 1.1em;
  padding: 10px 10px;
  color: black;
  border-radius: 0;
  border-bottom: 1px solid #000;
}
html[data-theme=dark] #__nuxt .announcements-details summary:hover {
  border-radius: 10px;
  background-color: #1AD6FF !important;
}
html[data-theme=dark] #__nuxt .announcements-details .announcements-details-content {
  padding: 10px 20px;
  color: black;
}
html[data-theme=dark] #__nuxt .announcements-details .announcements-details-content:hover {
  cursor: default;
}
html[data-theme=dark] #__nuxt .announcements-details .announcements-details-content img {
  width: 100%;
}
html[data-theme=dark] #__nuxt .announcements-details .announcements-details-content ul {
  line-height: 0.7em;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}
html[data-theme=dark] #__nuxt .announcements-details .announcements-details-content ul li {
  line-height: 0.7em;
}
html[data-theme=dark] #__nuxt .announcements-details .announcements-details-content ul li code {
  line-height: 25px;
}
html[data-theme=dark] #__nuxt .announcements-details .announcements-details-content ul li::before {
  content: "•";
  color: #1AD6FF;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
@media screen and (min-width: 1024px) {
  html[data-theme=dark] #__nuxt .announcements-details .announcements-details-content {
    width: 60%;
  }
}
html[data-theme=dark] #__nuxt .issues-report .issues-report__obs {
  font-size: 0.8em;
  margin: 0;
  font-style: italic;
}
html[data-theme=dark] #__nuxt .npm-badge {
  display: inline-block;
  margin-left: 10px;
}
html[data-theme=dark] #__nuxt .npm-badge img {
  margin: 0px;
}
html[data-theme=dark] #__nuxt li:has(> .icon-lib-status) {
  margin: 0px 0 !important;
}
html[data-theme=dark] #__nuxt li .icon-lib-status {
  font-size: 1.4em;
}
html[data-theme=dark] #__nuxt .icon-lib-status {
  font-size: 2em;
}
html[data-theme=dark] #__nuxt .icon-lib-status.icon-coming {
  color: rgb(255, 0, 0);
}
html[data-theme=dark] #__nuxt .icon-lib-status.icon-construction {
  color: rgb(255, 255, 0);
}
html[data-theme=dark] #__nuxt .icon-lib-status.icon-check {
  color: rgb(17, 255, 0);
}
html[data-theme=dark] #__nuxt code {
  color: #1AD6FF !important;
}
html[data-theme=dark] #__nuxt .table-wrapper thead {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
}
html[data-theme=dark] #__nuxt .table-wrapper thead th {
  padding-bottom: 8px;
  font-size: 1rem;
  color: #fff;
}
html[data-theme=dark] #__nuxt .table-wrapper tbody tr {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #495057;
}
html[data-theme=dark] #__nuxt .table-wrapper tbody tr td {
  padding: 10px 0;
}
html[data-theme=dark] #__nuxt button[aria-label="Color Mode"] {
  display: none;
}

.block-hero .layout {
  gap: var(--space-0) !important;
}
.block-hero .layout .content {
  order: 2;
}
.block-hero .layout .support {
  order: 1;
  margin-bottom: 20px;
}

@media screen and (max-width: 1023px) {
  .docs-page-content {
    padding: 0 12px;
  }
}
@media screen and (min-width: 1024px) {
  .block-hero .layout {
    gap: var(--space-16) !important;
  }
  .block-hero .layout .content {
    order: 1;
  }
  .block-hero .layout .support {
    order: 2;
  }
}
.test-container {
  height: 100px;
  background-color: blueviolet;
}

.test-container {
  height: 100px;
  background-color: goldenrod;
}/*# sourceMappingURL=global.css.map */