* {
  color: inherit;
  margin: 0;
}

body {
  font-family: 'Lato Regular', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: light;
  line-height: 1.42857143;
  color: #333;
	background: #fff;
  -webkit-user-select: none;
}

a {
  color: #2980b9;
  text-decoration: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: #2c3e50;
    text-decoration: underline;
  }

  &:focus {
    outline: thin dotted;
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

label {
  font-family: inherit;
  font-size: inherit;
  cursor: default;
}

hr {
  display: block;
  height: 1px;
  padding: 0;
  margin: 1px 0;
  border: 0;
  border-top: 1px solid #efefef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: inherit;
}

h1 {
  font-size: 3.6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px;
}

abbr[title],
abbr[data-text-help] {
  border-bottom: 1px dotted #777;
}

abbr[data-text-help] {
  cursor: help;
}

dfn,
dfn[title] {
  font-style: italic;
  border-bottom: 1px dotted #777;
}

dfn[data-text-help] {
  display: none;
}

dfn abbr,
dfn abbr[title],
dfn[title] abbr,
dfn[title] abbr[title] {
  font-style: normal;
  border-bottom: 1px dotted #777;
}

del,
s {
  text-decoration: line-through;
}

ins,
u {
  text-decoration: underline;
}

q {
  display: inline;
}

q,
cite,
em {
  font-size: inherit;
  font-style: italic;
}

q::before,
cite::before {
  content: '\00a0\0022';
}

q::after,
cite::after {
  content: '\0022\00a0';
}

strong {
  font-weight: bold;
}

sub {
  vertical-align: sub;
}

sub,
sup {
  font-size: smaller;
}

sup {
  vertical-align: super;
}

code,
samp,
kbd,
var {
  font-family: monospace;
}

var {
  font-style: italic;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Consolas, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, monospace;
}

code {
  color: #c7254e;
  padding: 2px 4px;
  background-color: #f9f2f4;
}

code,
kbd {
  font-size: 0.9em;
}

kbd {
  color: #fff;
  background-color: #333;
}

kbd,
var {
  padding: 2px 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

var {
  font-size: 1.2em;
  color: #333;
}

kbd > kbd {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

pre {
  font-size: 0.9em;
  line-height: 1.42857143;
  color: #fff;
  display: block;
  padding: 10px;
  margin: 0;
  border: 0;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #000;
}

pre code {
  font-size: inherit;
}

pre code,
pre var {
  color: inherit;
  padding: 0;
  white-space: pre-wrap;
  background-color: transparent;
}

pre var {
  font-size: 1.2em;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}
